# Python
__pycache__/
*.py[cod]
.venv/
backend/app/data/*.json
backend/app/uploads/*
!backend/app/uploads/.gitkeep
!backend/app/data/.gitkeep

# Node
node_modules/
dist/
.vite/
*.tsbuildinfo
frontend/vite.config.js
frontend/vite.config.d.ts

# Env
.env
.env.local

# OS/editor
*.log
.runlogs/
.DS_Store
Thumbs.db
.idea/
.vscode/

.vercel
