/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./src/components/Sidebar.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
/* This file exists to satisfy the import in Navbar.js */
/* All styles are actually defined inline in the component */


